<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE muclient>

<muclient>
<plugin
   name="Compass"
   author="Soludra"
   id="043e0976013412f26cf9a395"
   language="Lua"
   purpose="GUI Compass for Achaea"
   date_written="2010-02-02"
   requires="4.43"
   version="2.00"
   >
</plugin>

<!--
  #  Maintained and developed by Soludra
  #  
  #  Originally by Trevize
  #  Images supplied by Dusty
-->

<include name="$PLUGINDIR\libraries\plugger.xml" />

</muclient>